.character-select.menu(ng-if="ch.notStarted")
	.header: h2 #{account.username}
	.body
		.main
			.title Choose a character
			.characters
				br 
				for character in account.characters
					.left.text-center.character()
						img.animated.fadeIn(
							ng-src="/characters/#{character.name}-stats.png",
							ng-click="ch.selectCharacter('#{character.name}')",
							ng-class="{selected : set}"
						)
		.sidebar
			.user.character-chosen
				.character-chosen-name {{ch.user.character ? ch.user.character.toUpper() : 'No Character'}}
				.character-chosen-image 
					.no-character(ng-hide="account.character") Character
					img.animated.fadeIn(ng-src="/characters/{{ch.user.character}}-stats.png", ng-if="ch.user.character")
				.user-info.right
					.stat {{ch.user.username.toUpper()}}
			.player.character-chosen(ng-repeat="account in ch.accounts")
				.character-chosen-name {{account.character.toUpper() || 'No Character'}}
				.character-chosen-image 
					.no-character(ng-hide="account.character") Character
					img.animated.fadeIn(ng-src="/characters/{{account.character}}-stats.png", ng-if="account.character")
				.user-info.right
					.stat {{account.username.toUpper()}}
		.bottom: center
			span(ng-hide="ch.charactersReady") Waiting for more players!
			a.wide-button.btn.btn-danger(ng-href="#/match-making",ng-show="ch.startButton") Start