.home.menu
	.header: h1 Welcome! 
		span.no-game.alert.alert-danger(ng-if='noInstance') Game Not Available!
		.right-header
			a(href="/logout") Log Out
	.body
		.main
			.user-info
				.title #{account.username}
				div 
					span XP 
					span #{account.xp}
				div 
					span Gold 
					span #{account.gold}
				div 
					span Games 
					span #{account.totalGames}
				div 
					span Won 
					span #{account.gamesWon}
				div 
					span Lost 
					span #{account.gamesLost}
				.title Account
				div
					span Name
					span #{account.firstName} #{account.lastName}
				div
					span Username
					span #{account.username}
				div
					span Email
					span #{account.email}
				div
					span Characters Owned
					span
						for character in account.characters
							img(src="characters/#{character.name}-stats.png")

		.sidebar
			friends(user="#{account._id}")
		.bottom: center 
			a.game-selects(href="/#/game?players=2"): input.btn.btn-danger.wide-button(type="button", value="Play 1 vs 1")
			a.game-selects(href="/#/game?players=4"): input.btn.btn-danger.wide-button(type="button", value="Play 2 vs 2")
