.home.menu
	.header: h1 Welcome To Assassin's Landing 
		span.no-game.alert.alert-danger(ng-if='noInstance') Game Not Available!
		.right-header
			a(href="/logout") Log Out
	.body
		.main
			.user-info
				.title #{account.username}
				div 
					span XP 
					span #{account.xp}
				div 
					span Gold 
					span #{account.gold}
				div 
					span Games 
					span #{account.totalGames}
				div 
					span Won 
					span #{account.gamesWon}
				div 
					span Lost 
					span #{account.gamesLost}
				h4 Account
				div
					span Name
					span #{account.firstName} #{account.lastName}
				div
					span Username
					span #{account.username}
				div
					span Email
					span #{account.email}
				div
					span Characters Owned
					span
						for character in account.characters
							img(src="characters/#{character.name}-stats.png")

		.sidebar
			.friends-area
				.friends
					.title Friends
						span.right: i.fa.fa-user-plus.add-friend(title="Add Friend", data-toggle='tooltip')
					for friend in account.friends
						.friend(ng-if="isFriends('#{friend._id}')")
							div: span(class="#{friend.status}", ng-class="status#{friend._id}")
							div #{friend.username}
							div: i.fa.fa-user-times(ng-click="removeFriend('#{friend._id}')")
					.more-friends
						.friend(ng-if="isFriends(friend.id)", ng-repeat="friend in friends")
							div: span(class="{{friend.status}}", ng-class="status{{friend.id}}")
							div {{friend.username}}
							div: i.fa.fa-user-times(ng-click="removeFriend(friend.id)")
				
				.found-users.animated(ng-class="{fadeInUp : searchingUsers, fadeOutDown : !searchingUsers}", ng-show="showUsersFoundBox")
					.found-users-area
						.each-found-user
							div(ng-hide='foundUsers') No user found
							div(ng-show='foundUsers', ng-repeat="user in searchedUsers", class='user-found') 
								div: span(ng-class="[user.status, status{{user.id}}]")
								div {{user.username}}
								div
									i.fa.fa-comment-o
									i.fa.fa-user-plus(ng-if="!user.alreadyFriend", ng-click="addUser(user)")
				.search-users

					input.form-control(ng-keyup="searchUsers(searchUsername)", ng-blur="", ng-model="searchUsername", placeholder="Search for user...", aria-describedby="basic-addon1")
		.bottom: center 
			a.game-selects(href="/#/game?players=2"): input.btn.btn-danger.wide-button(type="button", value="Play 1 vs 1")
			a.game-selects(href="/#/game?players=4"): input.btn.btn-danger.wide-button(type="button", value="Play 2 vs 2")
