.character-select.menu
	.header: h2 {{ch.user.upper()}}
	.body
		.title Choose a character
			.right {{ch.character}}
		.characters
			br
			.left.text-center()
				img#assassin(
					ng-class="{selected : ch.AssassinSelect}", 
					ng-click="ch.select('Assassin')", 
					src="/characters/assassin-stats.png"
				)
				br
				center Assassin
			.left.text-center()
				img#brute(
					ng-class="{selected : ch.BruteSelect}",
					ng-click="ch.select('Brute')", 
					src="/characters/brute-stats.png"
				)
				br
				center Brute
		.account: i.fa.fa-cog(title="Account", ng-click="ch.gotoAccount()")
		.play: input.btn.btn-danger(type="button", ng-click="ch.start()", value="Start")